@charset "utf-8";

a {
  text-decoration: none;
}

header {
  width: 100%;
}

header .inner {
  width: calc(100% - 350px);
  height: 118px;
  margin: 0 auto;
}

header .inner .header_top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 0 40px 0 430px;
}

header .inner .header_top h1 {
  padding: 0 160px;
}

header .inner .header_top ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .inner .header_top ul li {
  margin: 0 10px;  
}

header .inner .header_top ul li a{
  color: #888;
  font-size: 12px;
  font-weight: 600;
}

header .inner .header_top ul li:last-child a {
  display: block;
  text-align: center;
  justify-content: center;
  width: 108px;
  height: 30px;
  background-color: #1ECAD3;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}

/* .header_bot {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.header_bot ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_bot ul li {
  padding: 0 50px;
  line-height: 30px;
}


.header_bot ul li a {
  color: #55585B;
  font-size: 14px;
  font-weight: bold;
}

main {
  width: 100%;
  position: relative;
}

.section01 {
  width: 100%;
}
.section01 .inner{
  width: 100%;
}
.section01 .inner img {
  width: 100%;
}
.section01 .inner .youtube_bgc{
  width: 100%;
  height: 100vh;
  background-image: url('../IMG/wave_dive\ into\ diversity.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section01 .inner .youtube_bgc iframe{
  width: 50%;
  height: 55%;
  margin-top: 30%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}