@charset "utf-8";

.top_btn{
  position: fixed;
  right: 50px; top: 50px;
  transition: all 0.3s;
  z-index: 10;
  /*  10개의 레이어 위에 쌓겟다*/
}

.top_btn{
  position: fixed;
  right: 200px;
  top: 200px;
  animation: swing 0.8s 0.2s linear infinite alternate;
}

@keyframes swing {
  0%{
    top: 200px;
  }
  /* 처음에 시작해서 중간까지 왔을때*/
  100%{
    top: 230px;
  }
}


a{
  text-decoration: none;
  color: #000;
}

header {
  width: 100%;
}

header .inner {
  width: calc(100% - 1150px);
  height: 140px;
  margin: 0 auto;
  padding: 0 350
}

header .inner .header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 0 25px 0;
}

header .inner .header_top div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid #000; */
  padding: 0 0 10px 0;
}

header .inner .header_top .topNav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

header .inner .header_top .promotion {
  border-bottom: 1px solid #000;
  width: 400px;
  justify-content: start;
}

header .inner .header_top .topNav li{
  align-items: center;
  display: flex;
  padding: 0 10px;
}

header .inner .header_top .topNav li a {
  align-content: center;
  align-items: center;
  font-size: 14px;
}

.header_bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.header_bot .nav {
  display: flex;
}

.header_bot .nav li {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -60px;
  padding: 0 65px;
}

.header_bot .nav button{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.header_bot .nav li a {
  font-size: 18px;
  color: #000;
  margin-right:50px;
}

main {
  width: 100%;
  position: relative;
}

main .main_img{
  width: 100%;
}

