@charset "utf-8";

a {
  text-decoration: none;
}

header {
  width: 100%;
}

header .inner {
  width: calc(100% - 500px);
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .inner .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 이 세개는 세트 */
}

header .inner .nav li {
  margin-right: 35px;
}

header .inner .nav li:last-child {
  margin-right: 0;
}

header .inner .nav li a {
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  padding: 0 14px;
}

main {
  width: 100%;
  position: relative;
}

main .main_img {
  width: 100%;
}

main .dot {
  display: flex;
  width: 200px;
  height: 11px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 35px;
  transform: translateX(-50%);
}

main .dot li a {
  display: block;
  width: 12px;
  height: 12px;
  margin-left: 12px;
  background-color: none;
  border: 1px solid #fff;
  border-radius: 100%;
}

.section01 {
  width: 100%;
}

.section01 .inner {
  padding: 8rem;
}

.section01 .inner h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 20px;
}

.section01 .inner .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px;
}

.section01 .inner .wrap .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  width: 200px;
  height: 200px;
  border-radius: 100%;

}

.section01 .inner .wrap li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.section01 .inner .wrap li .text_wrap {
  text-align: left;
  margin-left: 30px;
}

.section01 .inner .wrap li .text_wrap p {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.section01 .inner .wrap p {
  display: flex;
  align-items:center;
  color: #000;
  font-size: 1.46rem;
  font-weight: 500;
}

.section01 .inner .wrap a {
  color: #7c7c7c;
}