@charset "utf-8";

a {
  text-decoration: none;
  color: #fff;

}

header {
  width: 100%;
  background-color: #000;
}

header .inner {
  width: calc(100% - 50px);
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .inner .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .inner .nav li a{
  font-weight: bold;
  padding: 40px 13px ;
  font-size: 16px;
}